body {
    background-color: rgb(52, 52, 52);
    overflow: hidden;
}

.infoContainer {
    background-color: rgba(123, 123, 123, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    h1 {
        color: white;
        font-size: 5vw;
        position: relative;
        top: 20%;
        font-family: 'Courier New', Courier, monospace;
    }
    p {
        font-size: 2vw;
        text-decoration: underline black;
        color: white;
        font-weight: 900;
        left: 30vw;
        position: relative;
        top: 20%;
        width: 40vw;
        font-family: 'Courier New', Courier, monospace;
    }
}

.balanceContainer {
    float: right;
    display: flex;
    .balanceText {
        font-family: 'Courier New', Courier, monospace;
        font-size: 5vw;
        color: green;
        position: relative;
        top: -7vh;
    }
    .balanceImg {
        width: 5vw;
        height: 5vw;
    }
}

.settingsStyle {
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vw;
    background-color: rgb(92, 104, 155);
    text-align: center;
    .inputTitle {
        position: relative;
        top: 20vh;
    }
    .settingsInput {
        width: 20vw;
        background-color: transparent;
        border: none;
        border-bottom: 0.1vw solid black;
        position: relative;
        top: 20vw;
        text-align: center;
        font-size: 3vw;
    }
    p {
        position: relative;
        top: 10%;
        font-size: 200%;
        font-family: 'Courier New', Courier, monospace;
    }
    .betCheck {
        color: red;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        text-align: center;
    }
}

.gunCylinderContainer {
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 40%;
    top: 30%;
    .cylinder {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: grey;
        z-index: 1;
        .bulletHole {
            background-image: url();
            background-size: 100%;
            width: 10%;
            height: 10%;
            border-radius: 100%;
            background-color: rgb(52, 52, 52);
            z-index: 20;
        }
        .bulletHole:hover {
            background-color: rgba(255, 165, 0, 0.5);
            box-shadow: 0 0 1vw rgba(255, 165, 0, 1);
        }
    }
    .gun {
        position: absolute;
        top: 15%;
        width: 100%;
        height: 100%;
        visibility: hidden;
    }
}

.barrel {
    border-radius: 1vw;
    width: 0.5%;
    height: 10%;
    background-color: black;
    position: absolute;
    left: 49.8%;
    top: 23%;
    z-index: 1;
}

@keyframes buttonHoverAdd {
    0% {
        box-shadow: 0 0 0 green;
    }
    100% {
        box-shadow: 0 0vw 1vw rgb(0, 255, 0);
        width: 25%;
        height: 12vh;
    }
}

@keyframes buttonHoverBack {
    0% {
        box-shadow: 0 0 0 red;
    }
    100% {
        box-shadow: 0 0vw 1vw rgb(255, 0, 0);
        width: 25%;
        height: 12vh;
    }
}

.inputContainer {
    position: relative;
    top: 20vh;
    button {
        border-radius: 0.2vw;
        border: 0.1vw solid black;
        margin: 0.05vw;
        width: 22%;
        height: 100%;
        font-family: 'Courier New', Courier, monospace;
    }
    .addContainer {
        width: 100%;
        height: 12vh;
        button {
            background-color: green;
        }
        button:hover {
            animation: buttonHoverAdd 0.1s forwards;
        }
    }
    .backContainer {
        width: 100%;
        height: 12vh;
        margin-top: 0.5vh;
        button {
            background-color: red;
        }
        button:hover {
            animation: buttonHoverBack 0.1s forwards;
        }
    }
    input {
        width: 80%;
        height: 40%;
        font-size: 3vh;
        border-top-left-radius: 0.2vw;
        border-top-right-radius: 0.2vw;
        text-align: center;
        border: none;
        background-color: rgba(0, 255, 0, 0.5);
        border-bottom: 0.3vh solid black;
    }
}

@keyframes startOnAnim {
    0% {
        box-shadow: 0 0 1vw rgb(255, 255, 0, 0.3);
    }
    50% {
        box-shadow: 0 0 1vw rgb(255, 255, 0, 1);
    }
    100% {
        box-shadow: 0 0 1vw rgb(255, 255, 0, 0.3);
    }    
}

@keyframes startHover {
    0% {
        top: 40%;
        left: 25%;
        width: 50%;
        height: 5%;
    }
    100% {
        top: 39%;
        left: 22.5%;
        width: 55%;
        height: 6%;
    }
}

@keyframes restartAnim {
    0% {
        box-shadow: 0 0 1vw rgb(0, 0, 255, 0.3);
    }
    50% {
        box-shadow: 0 0 1vw rgb(0, 0, 255, 1);
    }
    100% {
        box-shadow: 0 0 1vw rgb(0, 0, 255, 0.3);
    }  
}

@keyframes restartHover {
    0% {
        top: 40%;
        left: 25%;
        width: 50%;
        height: 5%;
    }
    100% {
        top: 39%;
        left: 22.5%;
        width: 55%;
        height: 6%;
    }
}

.startRestartButtonContainer {
    .startButtonOff {
        width: 50%;
        height: 5%;
        position: absolute;
        top: 40%;
        left: 25%;
        background-color: green;
        border: 0.1vw solid black;
        font-size: 2vw;
        opacity: 50%;
    }
    
    .startButtonOn {
        width: 50%;
        height: 5%;
        position: absolute;
        top: 40%;
        left: 25%;
        background-color: green;
        border: 0.1vw solid black;
        font-size: 2vw;
        animation: startOnAnim 0.8s infinite;
    }
    .startButtonOn:hover {
        animation: startHover 0.1s forwards;
    }

    .restartButton {
        width: 50%;
        height: 5%;
        position: absolute;
        top: 40%;
        left: 25%;
        background-color: blue;
        border: 0.1vw solid black;
        font-size: 2vw;
        visibility: hidden;
        animation: restartAnim 0.8s infinite;
    }

    .restartButton:hover {
        animation: restartHover 0.1s forwards;
    }
}

@keyframes bounce {
    0% {
        top: 40%;
    }
    50% {
        top: 35%;
    }
    100% {
        top: 40%;
    }
}

.imgStyle {
    position: absolute;
    left: 70vw;
    top: 40%;
    width: 15%;
    height: auto;
}

@keyframes flash {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}

@keyframes hole0 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

@keyframes hole1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(771deg);
    }
}

@keyframes hole2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(822deg);
    }
}

@keyframes hole3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(874deg);
    }
}

@keyframes hole4 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(925deg);
    }
}

@keyframes hole5 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(977deg);
    }
}

@keyframes hole6 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1028deg);
    }
}
